:root {
  --primary: #AF1E2D;
  --light: #F3F3F3;
  --grey: #8A8A8B;
  --dark: #212121;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Fira Sans", sans-serif;
}

body {
  background-color: var(--light);
  margin-bottom: 100px;
}

p {
  margin-bottom: 15px;
}

p:last-of-type {
  margin-bottom: 0;
}

header {
  padding: 15px 142px;
  position: sticky;
  top: 0;
  z-index: 99;
  background-color: #FFF;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.1);
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav .logo {
  width: 75px;
  border-radius: 50%;
  max-width: 100%;
}

nav .menu {
  list-style-type: none;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

nav .menu .menu-item a {
  display: block;
  padding: 5px 15px;
  margin-left: 5px;
  margin-right: 5px;

  color: var(--dark);
  font-weight: 600;
  text-decoration: none;
  border-top: 3px solid transparent;
  border-bottom: 3px solid transparent;
  transition: 0.2s;
}

nav .menu .menu-item:hover a {
  color: var(--primary);
  border-color: var(--primary);
}

nav .menu .menu-item.is-active a {
  color: #FFF;
  background-color: var(--primary);
}

main {
  min-height: 100vh;

}

main .banner {
  background-image: url('https://img5.goodfon.com/original/1920x1080/9/65/monument-famous-place-architectural-column-madrid.jpg');
  position: relative;
  min-height: 500px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-size : cover;
}

main .banner:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
  background-color: rgba(0, 0, 0, 0.5);
}

main .banner .banner-inner {
  position: relative;
  z-index: 1;
}

main .banner h1 {
  color: #FFF;
  font-size: 72px;
  text-align: center;
}
main .banner h3 {
  color: var(--light);
  font-size: 42px;
  text-align: center;
}

main .page-content {
  padding-left: 142px;
  padding-right: 142px;
  padding-top: 50px;
}

main .page-content h2 {
  color: var(--dark);
  font-size: 36px;
  margin-bottom: 30px;
}

main .page-content p {
  font-size: 18px;
  line-height: 1.4;
}

label,
footer {
    font-family: sans-serif;
}

label {
    font-size: 1rem;
    padding-right: 10px;
}

select {
    font-size: .9rem;
    padding: 2px 5px;
}

footer {
    font-size: .8rem;
    position: absolute;
    bottom: 30px;
    left: 30px;
}

.background {
  background-image: url('https://i.pinimg.com/originals/f8/9b/b3/f89bb38c7f134bc46aa1af52cd793487.jpg');
  position: relative;
  min-height: 500px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-size : cover;
}

.background_2 {
  background-image: url('https://cdn.now.howstuffworks.com/media-content/20451400-33f4-4a8f-a933-048658b3521f-1920-1080.jpg');
  position: relative;
  min-height: 500px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-size : cover;

}

.background_1canada {
  background-image: url('https://upload.wikimedia.org/wikipedia/commons/e/e0/Moraine_Lake-Banff_NP.JPG');
  position: relative;
  min-height: 500px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-size : cover;
}

.background_2canada {
  background-image: url('https://fac.img.pmdstatic.net/fit/http.3A.2F.2Fprd2-bone-image.2Es3-website-eu-west-1.2Eamazonaws.2Ecom.2Ffac.2F2018.2F07.2F30.2Faa1d040e-4888-4394-9de1-7c90a27a46a1.2Ejpeg/850x478/quality/90/crop-from/center/poutine-canadienne.jpeg');
  position: relative;
  min-height: 650px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-size : cover;
}

.background_1pologne {
  background-image: url('https://upload.wikimedia.org/wikipedia/commons/thumb/4/44/Pomnik_Chrystusa_Kr%C3%B3la_w_%C5%9Awiebodzinie.jpg/1024px-Pomnik_Chrystusa_Kr%C3%B3la_w_%C5%9Awiebodzinie.jpg');
  position: relative;
  min-height: 500px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-size : cover;

}

.background_2pologne {
  background-image: url('https://www.salutbyebye.com/wp-content/uploads/2018/07/bigos-pasjo-cafe-cracovie-1280x720.jpg');
  position: relative;
  min-height: 500px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-size : cover;
}

.backgroundinde {
  background-image: url('https://cdn.radiofrance.fr/s3/cruiser-production/2019/08/32982184-d0d6-47f8-af2f-fc9cdbb8c9ea/838_3732b.jpg');
  position: relative;
  min-height: 500px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-size : cover;
}

.background_2inde {
  background-image: url('https://upload.wikimedia.org/wikipedia/commons/4/49/Vegetarian_Curry.jpeg');
  position: relative;
  min-height: 500px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-size : cover;
}


}